footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  padding-left: 20px;
}

.footer-logo {
  font-family: $logo-font;
  font-size: $h3-size;
  font-weight: 400;
  padding-top: 20px;
  margin: 0;
}
